.button {
  display: inline-block;
  color: $off-white;
  padding: 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
  background-color: $orange;
  font-weight: bold;

  &:hover {
    color: $off-black !important;
    background-color: $off-white;
  }
}

.button--orange {
  background-color: $orange;
  border: none;
}