.content-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
}

.content-container--big-pad {
  padding: 90px 20px;
}

.content-container--wide {
  max-width: 800px;
}

.content-container--half {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content-half {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin: 2rem 0 1rem;
  padding: 15px;

  &:nth-child(2n) {
    margin-left: -5px;
  }
}

@media all and (max-width: 760px) {
  .content-container {
    padding: 10%;
  }
}